body {
    background-color: whitesmoke;
    margin-left: 25px;
}

h1 {
    font-size: 24pt;
}

div.form {
    display: grid;
    grid-template-columns: 100px 175px 40px 100px 50px;
}

label {
    margin-top: 15px;
}
input#name, input#address1, input#address2, input#zipcode{
    font-size: 12pt;
    padding: 4px;
    margin: 4px;
    margin-top: 8px;
    grid-column: 2/5;
}

input#city {
    font-size: 12pt;
    padding: 4px;
    margin: 4px;
    margin-top:8px;
    grid-column: 2/3;
}

select {
    font-size: 12pt;
    padding: 4px;
    margin: 4px;
    margin-top:8px;
    grid-column: 4/5;
}

form button {
    font-size: 12pt;
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
    background-color: steelblue;
    color: whitesmoke;
    grid-column: 4/5;
}